
.intro {
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 140px, 0);
  
}

/* Fullscreen image */
.intro__image {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 120%;
    width: auto;
    height: auto;
    opacity: 0.8;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro__image {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
}

/* Intro content */
.intro__content {
    position: absolute;
    bottom: 10%;
    padding: 10%;
    width: 100%;
    font-size: 1.15em;
    color:rgba(0,0,0,0.75);
}
.container--open .intro__content {
    transition: padding-bottom;
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    color: #555;
}
.container--open .intro__subtitle{
color: #ccc;
}
.container--open .menu_selected {
    color: #555;
}

.intro__content {
    transition: padding 0.3s ease-out, color 0.3s ease-out;
}
.intro__title {
    margin: 0;
    font-weight: 700;
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    /*line-height: 1em;*/
    letter-spacing: 0.1em;
    /*width: 25%;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.intro__subtitle {
    position: relative;
}
.intro__description {
    margin: 0 0 55px 0;
    width: 50%;
    color: #999;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.08em;
}
.container--open .intro__description {
  display: none;
}

.intro__caption {
    float: left;
    opacity: 0;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.3s, transform 0.3s;
}

.intro.cbp-af-header-shrink {
height: 90px;
box-shadow:0 0 1px rgba(0,0,0,0.15);


}

.container--open .intro.cbp-af-header-shrink .intro__title {
    float: left;
    font-size: 2em;
    line-height: 90px;
}

.container--open .intro.cbp-af-header-shrink .intro__control {
    margin: 0;
    line-height: 90px;
}

.intro.cbp-af-header-shrink .intro__caption {
    display: none;
}

.container--open .intro.cbp-af-header-shrink {
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}

.container--open .intro.disable-transition {
    -webkit-transition: none;
    transition: none;
}

.container--open .intro__caption {
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
}

.onetime--trigger {
    cursor: pointer;
    position:absolute;
}

.container--open .onetime--trigger {
    pointer-events: none;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

/* Trigger button with SVG */
.trigger {
    -webkit-flex: none;
    flex: none;
    overflow: hidden;
    padding: 0;
    outline: none;
    border: none;
    background: none;

}

/* Hide the text */
.trigger span {
    position: absolute;
    top: 100%;
}

.icon rect,
.icon line {
    stroke: #555;
    fill: none;
    stroke-width: 2px;
}
.icon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

/* Main content */
.items-wrap {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.items-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none;
}
.container--open .items-wrap::after {
    opacity: 0;
}
.item {
    position: relative;
/*    -webkit-flex: 1 0 25%;
    flex: 1 0 25%;*/
    -webkit-flex: 1 0 33.333%;
    flex: 1 0 33.333%;
    overflow: hidden;
    height: 31vw;
    outline: none;
    border: solid #fff;
    border-width: 0 5px 10px 5px;
    background: #fff;
}

.item__image {
    position: absolute;
    top: 50%;
    min-height: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 1s, opacity 0.5s, ease-out;
}

.item:hover .item__image {
    opacity: 0.1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
item__title:hover{
 opacity: 0.5;
    -webkit-transition: 0.3s;
  

}

.item__title {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 1em;
    letter-spacing: 0.01em;
    color: #2a2e39 !important;
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Muli', sans-serif;
    line-height: 22vw;
    -webkit-transition: -webkit-transform 0.5s, opacity 1s;
    transition: transform 1s, opacity 1s, ease-out;
    transition-delay:initial;
}

.project {
    display: none;
}

.active_project {
    display: block;
}


/******************************* Hover Thing *******************************/


.item:hover .item__title {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0,0px, 0);
}
.intro__control {
    color: #555;
    float: right;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    outline: none;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.intro__control a {
    font-family: 'muli',sans-serif;
    font-size:0.85em;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.container--open .intro__control {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

.button_left {
    margin-right:4.5em;
}

.nav__control {
    float: right;
    opacity: 1;
    pointer-events: none;
    cursor: default;
    outline: none;
    display: none;
}

.nav__control span {
    font-family: 'muli',sans-serif;
    font-size:0.85em;
    font-weight: 400;
    letter-spacing: 0.01em;
}

#pv::before {
    content: "←";
    position: absolute;
    left: -1.5em;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    font-family: 'open sans' sans-serif;
}

#nx::after {
    content: "→";
    position: absolute;
    right: -0.3em;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    font-family: 'open sans' sans-serif;
}

#nx {
    padding-right: 1em;
}

#prev:hover #pv::before,
#prev:focus #pv::before {
    -webkit-transform: translateX(-1em);
    -moz-transform: translateX(-1em);
    transform: translateX(-1em);
}

#next:hover #nx::after,
#next:focus #nx::after {
    -webkit-transform: translateX(1em);
    -moz-transform: translateX(1em);
    transform: translateX(1em);
}

.item,
.intro__content {
    font-size: 0.85em;
}

/******************************* About Page *******************************/
#aboutPage {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;
    font-weight:300;
    font-size: 0.85em;
    font-family: 'Roboto Slab', serif;
}

.aboutLeft {
    padding-top: 10em;
    padding-left: 8em;
    float: left;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.aboutRight {
    padding-top: 10em;
    padding-right: 8em;
    float: right;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.intro__clickable {
    cursor: pointer;
}

.intro__clickable:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s;
}


/******************************* Sub Page *******************************/

#subPage {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;
    font-weight:300;
    font-size: 0.85em;
    font-family: 'Roboto Slab', serif;
    text-align: left;
}

.subPageHeader {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 99;
    display: none;
    color: #555;
    background:rgba(255,255,255,0.97);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s ease-out;
    box-shadow:0 0 1px rgba(0,0,0,0.15);}
#frame {
/*    width: 90%;
    max-width: 69em;*/
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}

.subPageHeader h2 {
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin: 0;
    float: left;
    display: inline-block;
    position: relative;
    line-height: 90px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    /*transition: float 0.3s ease-out, background 0.4s linear;*/

}

.subPageTitle {
    /*margin-left: 10%;*/
    /*margin-top: 1.1em;*/
    cursor: pointer;
}

.subPageTitle:hover {
    opacity: 0.5;
    -webkit-transition: 0.3s;
}

.navControl {
    float: right;
    line-height: 90px;
    display: inline-block;
    position: relative;
    margin: 0;
    font-family: 'Open sans',sans-serif;
}

.navControl #prev {
    cursor: pointer;
    font-size: 0.85em;
    font-family: 'open sans',sans-serif;
    font-weight: 400;
    line-height: 95px;
    outline: none;
    color: #666;
    letter-spacing: 0.01em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navControl #next {
    cursor: pointer;
    font-size: 0.85em;
    font-family: 'Open sans',sans-serif;
    font-weight: 400;
    line-height: 95px;
    outline: none;
    color: #555;
    letter-spacing: 0.01em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.projectTitle {
    max-width: 720px;
    margin:1.7em auto 0.4em auto;
    font-family:'open sans',sans-serif;
    color: rgba(0,0,0,0.8);
    font-size: 1.7em;
}

.description {
    /*padding-top: 10em;*/
    padding-bottom: 10em;
    padding-left: 10%;
    padding-right: 10%;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'open sans',sans-serif;
    /*transition: padding 0.4s linear, color 0.4s linear;*/
}
.description h3{
    font-weight: 700;
    max-width: 720px;
    margin: 1.2em auto 0.6em auto;
    font-size: 1.2em;
    color: rgba(0,0,0,0.75);
}

.description h4{
    margin: 0em auto;
    color: rgba(0,0,0,0.75);
    max-width: 720px;

}
h5.imgtittle{
  margin: 1.5em auto 1em auto;
  font-size: 1.2em;  
  color: rgba(0,0,0,0.75);
}
h6.imgtittle{
  margin: 2em auto 1em auto;
  font-size: 1.2em;  
  color: rgba(0,0,0,0.75);
  text-align: center;
}

p#interndescription{
     font-style: italic;
     font-size: 1em;
     color: rgba(0,0,0,0.5);
}
p#category{
    font-style: italic;
     font-size: 1em;
     color: rgba(0,0,0,0.5);
}
.description p
 {
    margin: 0 auto 1em auto;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.05em;
    color:rgba(0,0,0,0.70);
    max-width: 720px;
}

strong{
 color:rgba(0,0,0,0.8);
 font-weight:600;
}

.columns p {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}
.subimg {
    display: block;
    width: 100%;
    height: auto;
    margin:1.5em auto 1em auto;
}
.subimgsmall{
    display: block;
    width: 100%;
    height: auto;
    margin:1.2em auto -13em auto;

}
.subcover{
    display: block;
    width: 100%;
    height: auto;
    margin:90px auto 1em auto;
}
.description a{
 text-decoration: none;
 color: rgba(0,0,0,0.75);
font-weight: 600;
border-bottom: 1px solid rgba(0,0,0,0.5);
}

.description a:hover {
-webkit-transition: 0.3s;
border-bottom: 1px solid rgba(0,0,0,0.75);
}


/**************************************Resposive Media Queries**************************************/
@media screen and (min-width: 1000px) and (max-width: 1440px) {
    .item {
        -webkit-flex: 1 0 33.333%;
        flex: 1 0 33.333%;
        height: 30vw;
    }
    .item__title {
        line-height: 30vw;
    }
}

@media screen and (min-width: 590px) and (max-width: 999px) {
    .item {
        -webkit-flex: 1 0 50%;
        flex: 1 0 50%;
        height: 45vw;
    }
    .item__title {
        line-height: 45vw;
    }
}

@media screen and (max-width: 589px) {
    .item {
        -webkit-flex: 1 0 100%;
        flex: 1 0 100%;
        height: 90vw;
    }
    .item__title {
        line-height: 90vw;
    }
    .intro__description{
        width: auto;
    }
    .intro__title {
        font-size: 2em;
    }
    .intro__content {
        padding: 2em;
    }
    .container--open .intro__content{
        padding: 2em 2em 0 2em;
    }
}

@media screen and (min-width: 60em) {
    .columns {
        -moz-column-count: 2;
        -moz-column-gap: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1em;
        column-count: 2;
        column-gap: 1em;
    }

    .codrops-header .columns {
        padding: 3em 0 0;
        -moz-column-gap: 2em;
        -webkit-column-gap: 2em;
        column-gap: 2em;
    }
}

@media screen and (max-width: 45em) {
    .codrops-header,
    .description {
        font-size: 80%;
    }

    .description {
        padding: 4em 1.5em;
    }

    .codrops-header svg.polaroid {
        height: 200px;
    }
}

@media screen and (max-width: 25em) {

    .codrops-icon span {
        display: none;
    }

    .codrops-icon:before {
        font-size: 160%;
        line-height: 2;
    }

}
